Django>=5.0
djangorestframework
django-cors-headers
psycopg[binary,pool]
dj-database-url
daphne
channels
djangorestframework-simplejwt
django-redis
channels_redis
pytest
pytest-django
requests
pandas
openpyxl
Pillow==11.0.0
xlsxwriter>=3.2.0
